[user]
	name = Pierrick Bouvier
	email = pierrick.bouvier@linaro.org
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	pager = less -r
	preloadindex = true
[merge]
	conflictstyle = diff3
	ff = false
[push]
	default = simple
[merge "git-crypt"]
	name = A custom merge driver used to merge git-crypted files.
	driver = $HOME/.gitcryptmergetool.sh %O %A %B
	recursive = binary
[alias]
  sed = ! git grep -z --full-name -l '.' | xargs -0 sed -i -e
  su = submodule update --init
[pull]
	rebase = true
